.parrafo {
color: orange;

}


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-position: inside;
}

a {
    color: inherit;
}

img , video, iframe {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #212322;
    color: white; /* #000000 */
    font-family: 'Poppins', sans-serif;
    background-image: url("imagenes/shattered-feelings@3000x2000px.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header,main,footer {
    max-width: 600%;
    margin: 0 auto;
}
.header {
border: 10px solid red;
display: flex; /*propiedad obligatoria para utilizar flexbox y acomodar nuestro contenido*/
flex-direction: column; /*Eje principal verticual (column) */ /*horinzontal (row)*/
align-items: center;/*controlar el eje secundario de los elementos hijos*/
justify-content: center;/*controlar el eje principal de los elementos hijos */
padding: 2rem;
/*margin: 2rem:*/
}

.main {
border : 10px solid yellow;

}

.footer {
border:  10px solid purple;

}

.header__logo {
    width: 100px;
    height: 100px;
}

.header__titulo {
    font-size: 4rem; /*1rem -> 16px */ /*1rem -> 10px */
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    font-style: normal;
    margin:  0 0 2rem 0;

}

.header__parrafo {

}